.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.text-date {
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.text {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.journal-q {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 150px;
}

#journal-entry {
    width: 75%;
    height: 750px;
    display: flex;
    margin-left: 150px;
    margin-right: 500px;
    background-color: #DFCCE3;
    border: 2px solid black;
    margin-bottom: 100px;
    font-family: 'Lexend';
    font-size: 30px;
    white-space: pre-wrap;
}

#journey-entry:focus, #journal-entry:focus-visible, #journal-entry:active {
    outline: none;
}

#save-buttons {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 100px;
}

#yes-button {
    font-size: 25px;
    margin-right: 100px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 200px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

#no-button {
    font-size: 25px;
    margin-left: 100px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 200px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

#back-home-button {
    font-size: 25px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 300px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
    margin-top: 0px;
    margin-bottom: 150px;
    margin-left: 60%;
    margin-right: 20%;
}

.costPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px black solid;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 9999;
}

.popup-text {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    padding-top: 100px;
    text-align: center;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 100px;
}

#yes-button {
    font-size: 20px;
    margin-right: 50px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

#no-button {
    font-size: 20px;
    margin-left: 50px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    opacity: 0.7;
}

#back-home-button:hover, #yes-button:hover, #no-button:hover {
    font-weight: bold;
    cursor: pointer;
}