body {
    background-color: #D3CCE3;
}

.title {
    display: flex;
    justify-content: center;
}

#Navbar {
    display: flex;
    justify-content: center;
    position: relative;
}

.title {
    text-align: center;
}

#kept-sessions-button {
    position: absolute;
    right: 50px;
}

#monthly-calendar {
    margin-left: 50px;
    margin-right: 40px;
}

