#entry-text {
    white-space: pre-wrap;
    font-size: 30px;
    margin-left: 150px;
}

.text {
    font-size: 30px;
    margin-left: 150px;
    margin-bottom: 0px;
    font-weight: bold;
}

.type-text {
    font-size: 25px;
    margin-left: 150px;
}

.delete-button {
    font-size: 25px;
    margin-left: 150px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border-width: 3px;
    margin-bottom: 50px;
}

.delete-button:hover {
    font-weight: bold;
    cursor: pointer;
}

#hr-line {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.costPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px black solid;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 9999;
}

.popup-text {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    padding-top: 100px;
    text-align: center;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 100px;
}

#yes-button {
    font-size: 20px;
    margin-right: 50px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

#no-button {
    font-size: 20px;
    margin-left: 50px;
    background-color: #DFCCE3;
    font-family: 'Lexend';
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border-width: 3px;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    opacity: 0.7;
}